<div class="titulo">Proyectos</div>
<div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Fecha de Inicio</th>
                                    <th>Fecha de Fin</th>
                                    <th>Status</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Buen Fin</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Cosmopay - ONE</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>CMS</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Consultoria - Scotiabank</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Consultoria - Hsbc</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
