<div class="contenedor">
    
    <app-sidebar class="sidebar"></app-sidebar>
    
    <div class="contenedorData">
        <div class="dataPerfil">
            <img class="imgPerfil" src="./../../../assets/img/perfil.jpg" alt="">
            <div class="data">
                <div>
                    <span>Nombre:</span><br> Manuel Alejandro Roque Velazquez
                </div>
                <div>
                    <span>Dirección:</span><br> Orinoco 70 Zacahuitzco Benito Juarez 03550
                </div>
                <div>
                    <span>Fecha de Nacimiento:</span><br> 09/04/1988
                </div>
                <div>
                    <span>Area:</span><br> Developer
                </div>
                <div>
                    <span>Sueldo:</span><br> $7,500.00
                </div>
                <div>
                    <span>Email:</span><br> manuelrove@gmail.com
                </div>
                <div>
                    <span>Móvil:</span><br> 5510271893
                </div>
                <div class="flex">
                    <button class="btn">Editar Información</button>
                    <button class="btn">Agregar Información</button>
                </div>
            </div>
        </div>
        <div class="resumen">
            <div class="menuResumen">
                <div class="mr">
                     <div class="titulo">Proyectos</div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Fecha de Inicio</th>
                                    <th>Fecha de Fin</th>
                                    <th>Status</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Buen Fin</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Cosmopay - ONE</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>CMS</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Consultoria - Scotiabank</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Consultoria - Hsbc</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>

                </div>
                <div class="mr">
                    <div class="titulo">Certificaciones</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Fecha de Inicio</th>
                                    <th>Fecha de Fin</th>
                                    <th>Status</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Angular</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Master en JavaScript</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>React JS</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Python sin fronteras</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Desarrollo desde cero</td>
                                    <td></td>
                                    <td></td>
                                    <td>Completada</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

           

        </div>

    </div>

</div>
