<div class="contenedor">
    
    <app-sidebar class="sidebar"></app-sidebar>
    
    <div class="contenedorData">
        <div class="row">
            <div class="card">
                <div class="iconCard">
                    <i class="fas fa-industry"></i>
                </div>
                <div class="dataCard">
                    <div class="dataField">Proveedores</div>
                    <div class="dataNumber">6</div>    
                </div>
            </div>
            <div class="card">
                <div class="iconCard">
                    <i class="fas fa-tasks"></i>
                </div>
                <div class="dataCard">
                    <div class="dataField">Empleados</div>
                    <div class="dataNumber">24</div>    
                </div>
            </div>
            <div class="card">
                <div class="iconCard">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <div class="dataCard">
                    <div class="dataField">Nomina</div>
                    <div class="dataNumber">$1,200.00</div>    
                </div>
            </div>
            <div class="card">
                <div class="iconCard">
                    <i class="fas fa-wallet"></i>
                </div>
                <div class="dataCard">
                    <div class="dataField">Pagos</div>
                    <div class="dataNumber">$12,000.00</div>    
                </div>
            </div>
        </div>

        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Domicilio</th>
                        <th>Mes</th>
                        <th>Empleados</th>
                        <th>Inversión</th>
                        <th>Ingreso</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>PyJC System</td>
                        <td>Ballenas 38 col. veronica anzurez Miguel Hidalgo 11300</td>
                        <td>Enero</td>
                        <td>12</td>
                        <td>$5,000.00</td>
                        <td>$12,000.00</td>
                        <td>
                            <button>Editar</button>
                            <button>Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>