.contenedor{
    width: 100%;
    display: flex;
    
}
.sidebar{
    width: 10%;
}
.contenedorData{
    width: 90%;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

i{
    font-size: 50px;
    align-self: center;
}
.card{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 80px;
    background-color: #C4C4C4;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 3px 3px 3px;
}

.iconCard{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37C1CC;
    border-radius: 10px 0 0 10px;
}

.dataCard{
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dataField{
    display: flex;
    justify-content:flex-start;

}

.dataNumber{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 40px;
}
.tabla{    
    width: 98%;
    height: 400px;
    background-color: #F9FAFC;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
}
thead{
    background-color: black;
    color: white;
}
table{
    padding: 10px;
    width: 100%;
    text-align: center;
}