<div class="contenedor">
    
    <app-sidebar class="sidebar"></app-sidebar>
    
    <div class="contenedorData">
        <div class="row">
            <div class="card">
                <div class="iconCard">
                    <i class="fas fa-users"></i>
                </div>
                <div class="dataCard">
                    <div class="dataField">Proveedores</div>
                    <div class="dataNumber">6</div>    
                </div>
            </div>
            <div class="card">
                <div class="iconCard">
                    <i class="fas fa-users"></i>
                </div>
                <div class="dataCard">
                    <div class="dataField">Clientes</div>
                    <div class="dataNumber">6</div>    
                </div>
            </div>
            <div class="card">
                <div class="iconCard">
                    <i class="fas fa-users"></i>
                </div>
                <div class="dataCard">
                    <div class="dataField">Empleados</div>
                    <div class="dataNumber">6</div>    
                </div>
            </div>
            <div class="card">
                <div class="iconCard">
                    <i class="fas fa-users"></i>
                </div>
                <div class="dataCard">
                    <div class="dataField">Gastos</div>
                    <div class="dataNumber">6</div>    
                </div>
            </div>
        </div>

        <div class="reporte">
            <div class="headerReporte">
                <h3 >Reporte Mensual</h3>
            </div>
            <div class="bodyReporte">
                <div class="grafica">
                    <img class="imgGraf" src="./../../../assets/img/graf.png" alt="grafica">
                </div>
                <div class="data">
                    
                </div>
            </div>
        </div>

    </div>

</div>