<div class="sidebar" >    
    <a class="sidebarIcon" [routerLink]="['/home']" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span class="sidebarText">Inicio</span>
    </a>

    <a class="sidebarIcon" [routerLink]="['/clientes']" routerLinkActive="active">
        <i class="fas fa-address-book"></i>
        <span class="sidebarText">Clientes</span>
    </a>
    

    <a class="sidebarIcon" [routerLink]="['/proveedores']" routerLinkActive="active">
        <i class="fas fa-industry"></i>
        <span class="sidebarText">Proveedores</span>
    </a>

    <a class="sidebarIcon" [routerLink]="['/empleados']" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span class="sidebarText">Empleados</span>
    </a>

    <a class="sidebarIcon" [routerLink]="['/gasto']" routerLinkActive="active">
        <i class="fas fa-money-bill-alt"></i>
        <span class="sidebarText">Gasto</span>
    </a>

    <a class="sidebarIcon" [routerLink]="['/usuario']" routerLinkActive="active" >
        <i class="fas fa-user"></i>
        <span class="sidebarText">Usuario</span>
    </a>
</div>